# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# ML / Jupyter
.ipynb_checkpoints
*.joblib
ml/models/*.pkl
ml/models/*.h5
datasets/*.csv
!datasets/.keep

# OS
.DS_Store
Thumbs.db
